.line {
    height: 0.1px;
    width: 100vw;
    background-color: #ccc;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px;
    color: #878787;
}

i {
    margin: 0 20px;
}

img {
    margin-right: 35px;
}

a {
    padding-right: 0 !important;
}

.input-group .form-control {
    border-right: 0;
    border-color: #2a8341;
}

.input-group .btn {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .form-control:focus {
    box-shadow: none;
    border-color: #2a8341;
}

.input-group {
    height: 50px;
}

.size {
    font-size: 35px;
    color: #2a8341;
    cursor: pointer;
}

.search {
    width: 99%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.position-relative {
    position: relative;
}

.badge-custom {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-70%, 35%);
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.25em 0.6em;
    font-size: 10px;
}

.bg-color {
    background-color: #2a8341;
}

.navbar-nav .nav-link {
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
}

.user-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.user-links a {
    color: #2a8341;
    text-decoration: none;
    font-family: Poppins;
}

.cart-link {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.cart-link p {
    color: #2a8341;
    margin: 0;
    font-family: Poppins;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 1200px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .menu-title {
    font-size: 18px;
    color: #2a8341;
    margin-bottom: 10px;
    font-weight: bold;
}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 0px;
    font-family: Poppins;
    border-bottom: 1px solid #f1f1f1;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content img {
    width: 100%;
    height: auto;
    display: block;
}

.level-1 {
    display: inline-block;
    vertical-align: top;
}

.level-2 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.child-box {
    margin: 0 10px;
}
