.container-fluid {
    padding: 0;
}

.full{
   background-color: #eaeaea;
    padding: 10px;
}

.sidebar {
    padding: 20px;
}

.profile-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.username {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link1 {
    color: #000;
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}

.nav-link1:hover {
    font-size: 20px !important;
    color: #666 !important;
}

.content {
    padding: 15px;
    height: 520px;
    background-color: #fff;
    padding-left: 45px !important;
}

.profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-avatar {
    display: flex;
    align-items: center;
}

.profile-avatar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-details {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 40px;
    display: flex;
    width: 80%;
    align-items: center;
}

.form-group input {
    width: 100%;
}

.name {
    width: 250px;
    margin-left: 90px;
}

.delete {
    text-align: center;
}
